<div class="container p-4">
    <div class="row">
<table class="table table-bordered">
  <thead class="thead">
    <tr>
      <th scope="col">ID Expediente</th>
      <th scope="col">ID Tribunal</th>
      <th scope="col">ID Interviniente</th>
      <th scope="col">Fecha Actuación</th>
      <th scope="col">Descripción Actuación</th>
      <th scope="col">ID Control Referencia</th>
      <th scope="col">EDIT</th>

    </tr>
  </thead>
  <tbody>

    {{#each expedientejuicio}}
    <tr>
      <td>{{id_expedientejuicio}}</td>
      <td>{{id_tribunal}}</td>
      <td>{{ci}}</td>
      <td>{{fecha_actuacion}}</td>
      <td>{{descripcion_actuacion}}</td>
      <td>{{econtrol_referencia}}</td>
      <td>
      <a href="/expediente/juicio/delete/{{id_expedientejuicio}}" class="btn btn-danger">Eliminar</a>
      <a href="/expediente/juicio/edit/{{id_expedientejuicio}}/{{descripcion_actuacion}}" class="btn btn-success">Actualizar</a>
      </td>
    </tr>
    {{/each}}
</table>
</div>
</div>